@using ERP.WebUI.ModelView;

@model CustomerVM
@{
    ViewData["Title"] = "Quote";
}

<div class="container mt-5 mb-5">
    <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <p class="fw-medium text-uppercase text-primary mb-2">Bize Ulaşın</p>
            <h1 class="display-5 mb-4">Görüşleriniz bizim için değerli...</h1>
            <p class="mb-4">Deneyimli ve uzman kadromuz ile her türlü soru, görüş ve önerileriniz için bize ulaşmanız yeterli. Tüm istekleriniz için <b>azami 5 iş günü</b> içerisinde tarafınıza geri dönüş sağlanacaktır.</p>
            <div class="row g-4">
                <div class="col-6">
                    <div class="d-flex">
                        <div class="flex-shrink-0 btn-square bg-primary rounded-circle">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h6>Telefon</h6>
                            <span>+90-262-335-3808</span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex">
                        <div class="flex-shrink-0 btn-square bg-primary rounded-circle">
                            <i class="fa fa-envelope text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h6>E-Posta</h6>
                            <span>info@gurtasmakina.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <form>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="NameSurname" type="text" class="form-control" id="name" placeholder="Ad Soyad">
                            <label asp-for="NameSurname">Ad Soyad</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="CompanyName" type="text" class="form-control" id="company" placeholder="Firma Adı">
                            <label asp-for="CompanyName">Firma</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input asp-for="CustomerEmail" type="email" class="form-control" id="email" placeholder="E-Posta Adresi">
                            <label asp-for="CustomerEmail">E-Posta Adresi</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input asp-for="CustomerPhone" type="tel" class="form-control" id="phone" placeholder="Telefon">
                            <label asp-for="CustomerPhone">Telefon</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea asp-for="Message" class="form-control" placeholder="Mesajınız" id="message"
                                      style="height: 150px"></textarea>
                            <label asp-for="Message">Mesajınız</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button asp-area="Administration" asp-controller="Home" asp-action="Quote" class="btn btn-primary py-3 px-5" type="submit" >Teklif İste</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

